@import "tailwindcss";

:root {
    --bg: #fff;
    --fg: #111827; /* gris-900 */
}

html,
body {
    height: 100%;
}
body {
    color: var(--fg);
    background: var(--bg);
}

/* Liens d’ancre accessibles */
:target {
    scroll-margin-top: 7rem;
}
